html {
  background-color: #1c1c1c;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: #ffffff;
}

#app {
  display: flex;
  justify-content: center;
  height: 100%;
}

.btn {
  padding: 8px 16px;
  cursor: pointer;
  transition: 0.25s ease;
  background-color: transparent;
  width: 320px;
  margin-top: 16px;
}

.green {
  color: #a6e22e;
  border: 2px solid #a6e22e;
}

.orange {
  color: #fd971f;
  border: 2px solid #fd971f;
}

.red {
  color: #f92672;
  border: 2px solid #f92672;
}

.purple {
  color: #890089;
  border: 2px solid #890089;
}

.btn:hover {
  border-radius: 25px;
}

input[type=text], input[type=password] {
  display: inline-block;
  color: #ffffff;
  padding: 10px;
  width: 320px;
  box-sizing: border-box;
  background-color: rgba(0,0,0,0.25);
  border: none;
  border-radius: 2px;
  margin: 10px auto;
  transition:background-color 0.5s ease;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: rgba(0,0,0,0.45);
}
